* {
    margin: 0;
    padding: 0;

}

.container {
    text-align: center;

}

h1 {
    color: #333;
    margin: 10px 0 10px 0;
}

input{
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.completed{
    text-decoration: line-through;
}